<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>I am a junior at Pomona College studying Computer Science. I will be graduating in May 2019.</p>
            </div>
            <div class="col-lg-4">
                <p>I have worked with back-end developing through the research I've done, however, I am very interested
                   in trying out front-end developing through UX and UI. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download Resume
                </a>
            </div>
        </div>
    </div>
</section>
